/* SEARCH */
.PageListTemplate_search {
	display: none;
}

/* OPTIONS */
.PageListTemplate_options {
	display: none;
}

/* 404 */
.PageListTemplate_404 {
	display: none;
}

/* ADMIN */
.PageListID2 {
	display: none;
}

